ProjetoSeguroWCF/Negocio/Connected Services/ServiceCarro/CarroService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjetoSeguroWCF.TO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjetoSeguroWCF.TO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carro" nillable="true" type="tns:Carro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarro" nillable="true" type="tns:ArrayOfCarro" />
  <xs:complexType name="Carro">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCarro" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carro" nillable="true" type="tns:Carro" />
</xs:schema>