ProjetoSeguroWCF/Negocio/Connected Services/ServiceCarro/CarroService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:46815/CarroService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjetoSeguroWCF.TO" />
  <xs:element name="ListCar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProjetoSeguroWCF.TO" minOccurs="0" name="ListCarResult" nillable="true" type="q1:ArrayOfCarro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>